<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWgMPEaoWGK1sp6VJ42N2hUvYM1SwEzo8</string>
	<key>GCM_SENDER_ID</key>
	<string>517103038765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.moim.MOIM</string>
	<key>PROJECT_ID</key>
	<string>moimapp-c3c40</string>
	<key>STORAGE_BUCKET</key>
	<string>moimapp-c3c40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:517103038765:ios:91171f959e6e0d8172e3a4</string>
</dict>
</plist>
